*{
    box-sizing: border-box;
    /* border: 2px solid black; */
}

header{
    background: linear-gradient(180deg, rgba(163, 224, 83, 0.219), rgba(202, 93, 4, 0.856)) no-repeat fixed, 
                url(./images/hamster.jpg) no-repeat top center fixed;
    background-size: cover;
/* display: flex; */
/* justify-content: flex-end;  */
height: 100vh;


} 

.title{
position: relative;
top:20%;
word-wrap: break-word;
font-size: 2rem;
border: 2px solid salmon;
width: 80%;
left:10%;
text-align: center;
padding: 1rem 0;;
color: white;
border-radius: 2px;
animation: fire 2s infinite alternate-reverse forwards;
}
.logo{
    text-align: left;
}

.logo img{
    position: relative;
    display: block;
    width:7%;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
}

.navbar{
    /* display: block; */
}

header .navbar ul{
   
   display: flex;
   flex-flow: row wrap;
   /* position:fixed; */
   top: 1rem;
   right: 0;
   justify-content: space-evenly;
   /* margin-right: 2rem; */
   background-color: #332FD0;
   border-radius: 5px;
   
}

header .navbar li{
    font-size: 1.5rem;
    text-align: right;
    margin: 1rem;
}

header .navbar a{
    color: whitesmoke;
    text-decoration: none;
}

header .navbar li:hover{
transform: scale(1.4);
}

header .navbar a:hover{
    color: rgb(179, 238, 18);

}


.hamster-clipart{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* border: 1px solid black; */
    height:70vh;

    
}

.hamster-clipart img{
    width: 4%;
    align-self: flex-end;
    position: relative;
    animation: moving-hamster 6s ease-out infinite forwards;

}

main {

background: linear-gradient(180deg,#6edcd8e1,#073288);
min-height: 33vh;
}

.favorites{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 2rem;
}

main .favorites div{

    width: 15%; 
    height: auto;
    text-align: center;
    /* border: 1px solid green; */

}
main .favorites div img{
    object-fit: cover;
border: 7px solid rgba(175, 70, 131, 0.603) ;
border-radius: 5px;
}

main .favorites div img:hover{
    transform: scale(1.1);
}

@keyframes fire {
    from{
        background: linear-gradient(180deg, rgba(189, 58, 58, 0.548), rgba(255, 255, 0, 0.472));
    }
    33%{
        background: linear-gradient(180deg, rgba(199, 55, 55, 0.486), rgba(224, 224, 16, 0.534));
  
    }
    66%{
        background: linear-gradient(180deg, rgba(202, 47, 47, 0.52), rgba(202, 202, 40, 0.466));

    }
    to{
background: linear-gradient(180deg, rgba(221, 18, 18, 0.486), rgba(190, 190, 58, 0.466));

    }

    
}


@keyframes moving-hamster{

    0%{
       right:0;

    }
100%{
right: 120%;
}
}

@media only screen and (max-width: 660px )  {

header{
    background-size: contain;
    background-repeat: repeat;
    /* height:48vh; */
}


    main {
/* justify-content: center; */
    }

    main .favorites div{
    
        /* transform: scale(0.8); */
        /* width: 25px; */
        /* margin: auto; */
    }
    .favorites{
        width: 100%;
        /* text-align: center; */
        flex-direction: column;
        /* align-items:center; */
        max-height: 40vh;

        
    }
    main .favorites div img{

        max-width: 100px;

    }
   
}