*{
    box-sizing: border-box;
    /* border: 2px solid black; */
}

header{
    background: linear-gradient(180deg, rgba(163, 224, 83, 0.219), rgba(233, 12, 123, 0.65)) no-repeat fixed, 
                url(./images/mirabel-und-bruno.jpg) no-repeat top center fixed;
    background-size: cover;
/* display: flex;
justify-content: flex-end; */
height: 100vh;

} 

.logo img{
    position: relative;
    display: block;
    width:7%;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
}

.navbar{
    /* display: block; */
}

header .navbar ul{
   
   display: flex;
   flex-flow: row wrap;
   /* position:fixed; */
   top: 1rem;
   right: 0;
   justify-content: space-evenly;
   /* margin-right: 2rem; */
   background-color: #332FD0;
   border-radius: 5px;
   
}

header .navbar li{
    font-size: 1.5rem;
    text-align: right;
    margin: 1rem;
}

header .navbar a{
    color: whitesmoke;
    text-decoration: none;
}

header .navbar li:hover{
transform: scale(1.4);
}

header .navbar a:hover{
    color: rgb(179, 238, 18);

}

main {

background: linear-gradient(180deg,#6edcd8e1,#073288);
min-height: 33vh;
}

.favorites{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

main .favorites div{

    width: 15%; 
    height: auto;
    text-align: center;
    /* border: 1px solid green; */

}
main .favorites div img{
    object-fit: cover;
border: 12px solid rgba(175, 70, 131, 0.603) ;
border-radius: 10px;
}

main .favorites div img:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 600px )  {

header{
    background-size: contain;
    background-repeat: repeat;
    height:90vh;
}


    main {
/* justify-content: center; */
    }

    main .favorites div{
    
        /* transform: scale(0.8); */
        /* width: 25px; */
        /* margin: auto; */
    }
    .favorites{
        width: 100%;
        /* text-align: center; */
        flex-direction: column;
        /* align-items:center; */
        max-height: 30vh;

        
    }
    main .favorites div img{

        max-width: 100px;

    }
   
}